<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>DisplayCluster</string>
     <key>CFBundleIdentifier</key>
     <string>ch.epfl.DisplayCluster</string>
     <key>CFBundleVersion</key>
     <string>0.2.0</string>
     <key>DocSetFeedName</key>
     <string>DisplayCluster Documentation</string>
     <key>DocSetPublisherIdentifier</key>
     <string>ch.epfl.DisplayCluster.documentation</string>
     <key>DocSetPublisherName</key>
     <string>EPFL</string>
</dict>
</plist>
