<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>DASH</string>
     <key>CFBundleIdentifier</key>
     <string>eu.humanbrainproject.dash.docset</string>
     <key>DocSetFeedName</key>
     <string>DASH Documentation</string>
     <key>DocSetPublisherIdentifier</key>
     <string>eu.humanbrainproject.dash.documentation</string>
     <key>DocSetPublisherName</key>
     <string>EPFL</string>
</dict>
</plist>
