<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>codash</string>
     <key>CFBundleIdentifier</key>
     <string>ch.epfl.bluebrain.codash</string>
     <key>CFBundleVersion</key>
     <string>0.1.0</string>
     <key>DocSetFeedName</key>
     <string>Codash Documentation</string>
     <key>DocSetPublisherIdentifier</key>
     <string>ch.epfl.bluebrain.codash.documentation</string>
     <key>DocSetPublisherName</key>
     <string>Eyescale</string>
</dict>
</plist>
